.btn {
  background-color: #120b48;
}

body {
  background: #e4e1f1;
}

p {
  color: #616163;
}

h3 {
  color: #1b233d;
}

.blue {
  color: #120b48;
}

.bg-blue {
  background: #120b48;
}

.border-grey{
  border-color: #B6B3C6;
}